h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.2em;
}

h1,h2 {
	text-align: center;
}

.form {
	display: inline-block;
	padding-top: 50px;
	padding: 1%;
	margin: auto;
}

#price1,#oz1,#ABV1,#price2,#oz2,#ABV2 {
	margin: 4px;
	padding: 3px;
}

#calculate {
	margin-top: 10px;
}